<footer class="page-footer bg-light">
    <div class="bg-success">
      <div class="container-fluid">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-12 text-center">
            <a href="#"><i class="fab fa-whatsapp text-white mr-4"></i></a>
            <a href="#"><i class="fab fa-twitter text-white mr-4"></i></a>
            <a href="#"><i class="fab fa-instagram text-white mr-4"></i></a>
            <a href="#"
              ><i class="fab fa-google-plus-square text-white mr-4"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------------------- -->
    <div class="container text-center text-md-left mt-5">
      <div class="row row-20">
        <div class="col-md-2 mx-auto mb-4">
          <div class="pr-xl-4">
            <h3>
              <span class="badge badge-pill btn" [routerLink]="['/home']"
                ><h4>Smart-Kart</h4></span
              ><i class="fas fa-shopping-cart"></i>
            </h3>
            <p>Thanks for Shopping!</p>
            <!-- Rights-->
            <p class="rights">
              <span>©️  </span><span class="copyright-year">2021</span
              ><span> </span><span>L&T Infotech</span><span>. </span
              ><span>All Rights Reserved.</span>
            </p>
          </div>
        </div>
        <!-- --------------------------------------- -->
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact us</h6>
          <hr
            class="bg-success mb-4 mt-0 d-inline-block mx-auto"
            style="width: 85px; height: 2px"
          />
          <ul class="list-unstyled">
            <li class="my-2">Address:Mahape Mumbai</li>
            <li class="my-2">Email:smartkart123@gmail.com</li>
            <li class="my-2">phones:9876567898</li>
          </ul>
        </div>
        <!-- -------------------------------- -->
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Members</h6>
          <hr
            class="bg-success mb-4 mt-0 d-inline-block mx-auto"
            style="width: 85px; height: 2px"
          />
          <ul class="list-unstyled">
            <li class="my-2">Anish</li>
            <li class="my-2">Sneha</li>
            <li class="my-2">Narmada</li>
            <li class="my-2">Naveen</li>
            <li class="my-2">Preetha</li>
          </ul>
        </div>
