<div class="background">
    <div class="container">
    <div class="row">
        <div class="offset-2 col-6">
            <div class="card login shadow p-3 mb-5 bg-white rounded" style="height:300px;">
                    <div class="card-body">
                            <form [formGroup]="loginForm" (ngSubmit)="login()" >
                                <h4 style="font-weight: bold;">Customer Login Form</h4><br>
                                <div *ngIf="error">Invalid Credentials</div>
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td>Customer Id : </td>
                                            <td><input class="form-control" formControlName="customerId" placeholder="Enter customer id" style="width:200px"></td>
                                        </tr>
                                    </table>
                                </div><br>
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td>Password : </td>
                                            <td><input type="password" class="form-control" formControlName="password" placeholder="Enter password" style="width:200px"></td>
                                        </tr>
                                    </table>
                                </div><br>
                                <input type="submit" class="btn btn-primary" value="Login">
                                &nbsp;&nbsp;<input type="button" class="btn btn-primary" value="New User?" (click)="register()">
                                
                            </form>
                    </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>



