
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="customerLogin" class="btn btn-primary active" role="button" routerLinkActive="active">Customer</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="admin-login" class="btn btn-primary active" role="button" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="retailerLogin" class="btn btn-primary active" role="button" routerLinkActive="active">Retailer</a>
      </li>
    </ul>
  </nav>

<div class="background">
    <div class="container">
        <div class="row">
            <h3>Welcome to the Smart-Kart</h3>
            <h6>Have a safe shopping</h6><br><br>
            <div>
                <h5>Just One Click! Everything you want, at your finger tips</h5>
            </div>
        </div>
    </div>
</div>