<app-header></app-header>
<div class="background">
    <div class="container">
        <div class="row">
            <div class="offset-2 col-6">
                <div class="card login shadow p-3 mb-5 bg-white rounded ">
                    <div class="card-body">
                            <h4 style="font-weight: bold;">User Profile</h4>
                            <br>
                            <p style="color: rgb(179, 179, 206);font-weight: bold;">Basic Details
                            <p>
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>Customer Name : </td>
                                        <td>{{customerDetails.customerName}}</td>
                                    </tr>
                                </table>
                            </div>

                            
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>Create Password : </td>
                                        <td>{{customerDetails.password}}</td>
                                    </tr>
                                </table>
                            </div>
                            <br>
                            
                            <p style="color: rgb(179, 179, 206);font-weight: bold;">Contact Details</p>
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>Email Address : </td>
                                        <td>{{customerDetails.emailAddres}}</td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>Mobile Number : </td>
                                        <td>{{customerDetails.mobileNumber}}</td>
                                    </tr>
                                </table>
                            </div>
                            <br>
                            <p style="color: rgb(179, 179, 206);font-weight: bold;">Address
                            <p>
                            <div class="form-group">
                                Door Number : {{customerDetails.doorNo}}
                            </div>
                            <div class="form-group">
                                Street : {{customerDetails.street}}
                            </div>
                            <div class="form-group">
                                City : {{customerDetails.city}}
                            </div>
                            <div class="form-group">
                                State : {{customerDetails.state}}
                            </div>
                            <div class="form-group">
                                Country : {{customerDetails.country}}
                            </div>
                            <div class="form-group">
                                Pincode : {{customerDetails.pincode}}
                            </div><br>
                            
                            <input type="button" class="btn btn-primary" value="Close" (click)="close()">
                    </div>
                </div>
            </div>
            <div>

            </div>
<app-footer></app-footer>